@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<h2 id="addStylist">Add A Stylist</h2>
<div class="card">
  <div class="card-body">    
    <div class="row">
      <div class="col-5">
        @using (Html.BeginForm()) 
        {
          @Html.LabelFor(model => model.FirstName)<br>
          @Html.TextBoxFor(model => model.FirstName)<br><br>
          @Html.LabelFor(model => model.LastName)<br>  
          @Html.TextBoxFor(model => model.LastName)<br><br>
          @Html.LabelFor(model => model.GoesBy)<br>
          @Html.TextBoxFor(model => model.GoesBy)<br><br>
          @Html.LabelFor(model => model.Specialty)<br>
          @Html.TextBoxFor(model => model.Specialty)<br><br>
          <br><button type="submit" class="btn btn-primary">New Stylist</button>
        }
      </div>
      <div class="col-7">
        <img class="card-img" src="https://placekitten.com/1000/650" alt="Card image cat"> 
      </div>
    </div>
  </div>
</div>
