@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>@Model.GoesBy's Clients</h2>
<br>

@if (Model.Clients.Count == 0)

{
  <p>No Clients Added Yet</p>
}

@foreach (Client client in Model.Clients) 
{  
  <div class="card">
  <div class="card-header">
    @client.FirstName @client.LastName
  </div>
  <div class="card-body">
    <p class="card-text">@client.FirstName prefers to go by @client.GoesBy</p>
    <p>Email:  @client.Email.</p>
    <p>Stylist is @Model.GoesBy because their preferred specialty is @Model.Specialty</p>
  </div>
</div>
}
