@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@using HairSalon.Models

@if(ViewBag.stylists.Count == 0)
{
  <h3>No stylists</h3>
  @Html.ActionLink("You need to add at least one stylist to the system before you can add any new clients", "Create", "Stylists")
}
@if(ViewBag.stylists.Count != 0)
{
  @if (@ViewBag.name !="n/a")
  {
    <h2 id="add">Add A Client For @ViewBag.name</h2>
  }
  @if (@ViewBag.name == "n/a")
  {
    <h2 id="add">Add A Client</h2>
  }

  <div class="card">
    <div class="card-body">    
      <div class="row">
        <div class="col-5">
          @using (Html.BeginForm()) 
          {
            @Html.LabelFor(model => model.FirstName, "First Name")<br>
            @Html.TextBoxFor(model => model.FirstName)<br><br>
            @Html.LabelFor(model => model.LastName, "Last Name")<br>
            @Html.TextBoxFor(model => model.LastName)<br><br>
            @Html.LabelFor(model => model.GoesBy, "Nickname")<br>
            @Html.TextBoxFor(model => model.GoesBy)<br><br>
            @Html.LabelFor(model => model.Email, "Email Address")<br>
            @Html.TextBoxFor(model => model.Email)<br><br>
            
            @if (@ViewBag.stId == 0) 
            {
              <label for="id">Stylist</label>
              <select name="id" id="id">
                @foreach(Stylist stylist in ViewBag.stylists)
                {
                  <option value="@stylist.StylistId">@stylist.GoesBy | @stylist.Specialty</option>
                }
              </select>
              <br>
              <br>
            }

            @if (@ViewBag.stId !=0)
            {
              <input type="hidden" value="@ViewBag.stId" name="id" id="id">
              <br>
              <br>
            }
            
            <button type="submit" class="btn btn-primary">Add Client</button>

          }

        </div>
        <div class="col-7">
          <img class="card-img" src="https://placekitten.com/1000/650" alt="Card image cat"> 
        </div>
      </div>
    </div>
  </div>
}



